:root {
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  font: 16px/150% var(--sans);
  color-scheme: light dark;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: #d5c4a1;
}

#root {
  min-height: 100svh;
  background-color: #d5c4a1;
}